body{
  font-family: 'Courier New', Courier, monospace;
  background-image: url("https://oir.mobi/uploads/posts/2021-03/1616610153_47-p-sinii-fon-kosmos-53.jpg");
  /* background-size: cover; */
}

.headerOfPage{
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 2% 3% 4% 3%;
  text-align: right;
}